$negro: #111111;
$blanco: #fefefe;
$grisOscuro: #343d5b;
$grisClaro: #c8c8c8;
$grisClaroHover: #acabab;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
  transition: 0.3s ease all;
  &.dark {
    background: $negro;
  }
}

a {
  color: $grisOscuro;
  text-decoration: none;
  font-weight: 500;
}
h3,
h4 {
  body.dark & {
    color: $blanco;
  }
}
.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- -----
nav {
  background: $blanco;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.3s ease all;
  box-shadow: $sombraDark;

  body.dark & {
    a {
      color: $grisClaro;
      &:hover {
        color: $blanco;
      }
    }
  }

  .logotipo {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  .enlaces {
    display: flex;
    align-items: center;
    a {
      margin-right: 40px;
      &:hover {
        color: $grisClaroHover;
      }
    }
  }
}

.btn {
  width: 50%;
  padding: 8px;
  background-color: black;
  outline: none;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 8px;
}
.sidebar {
  display: none;
  text-align: center;
  height: 100vh;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #5a5a5a;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar a {
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: $grisOscuro;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#openbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 1rem;

  & i.fa-shopping-bag {
    font-size: 30px;
    color: $grisOscuro;
  }
}
#lblCartCount {
  position: absolute;
  font-size: 13px;
  background: $grisClaroHover;
  color: $grisClaro;
  padding: 0 5px;
  top: 17px;
  align-content: center;
}

// ----- ----- ----- ----- ----- Switch ----- ----- ----- ----- -----
.switch {
  background: $grisOscuro;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  &.active {
    background: orange;
    color: black;
    &::after {
      right: 0;
      left: unset;
    }
  }
  span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
}

// ----- ----- ----- ----- ----- GRID ----- ----- ----- ----- -----

.grid {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0;
  & .card {
    max-width: 300px;

    font-size: 1rem;
    padding: 12px;
    margin: 3px;
  }
  & img {
    max-height: 280px;
  }
}

// ----- ----- ----- ----- ----- Newsletter ----- ----- ----- ----- -----
#newsletter {
  display: flex;
  justify-content: center;
  border: 2px solid $grisClaro;
  gap: 1rem;
}
// ----- ----- ----- ----- ----- boton arriba ----- ----- ----- -
#arriba {
  color: $grisOscuro;
  font-size: 3rem;
}
// ----- ----- ----- ----- ----- menu - pie de pagina ----- ----- ----- -
.footerMenu {
  width: auto;

  .nav-link {
    color: $negro;
  }

  a:hover {
    color: $grisClaroHover;
  }
}

.btnColeccion {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 15px;
  padding-top: 13px;
  border: solid 3px $grisOscuro;
}
// ----- ----- ----- ----- ----- sobre.html ----- ----- ----- -
.sobreImg {
  display: inline-block;
  gap: 1rem;
  margin: 1rem;
}
