@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700");
body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #757575;
  font-size: 14px;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: #000;
}

.navbar-toggle .icon-bar {
  background: #000;
}

.section {
  padding: 80px 0;
}

.page-header {
  background: #f5f5f5;
  margin-top: 20px;
  border-bottom: none;
  padding: 30px 0;
}

.page-header h1 {
  font-weight: 200;
  margin: 0 0 6px 0;
}

.single-page-header {
  padding: 140px 0 70px;
  text-align: center;
  color: #fff;
  position: relative;
}

.top-header .container {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #dedede;
}

.top-header .dropdown-menu {
  left: auto;
  right: 0;
  max-width: 300px;
}

@media (max-width: 480px) {
  .top-header .dropdown-menu {
    right: 0;
    left: 0;
    max-width: 100%;
  }
}

.top-header .contact-number {
  font-size: 12px;
  color: #333;
}

@media (max-width: 768px) {
  .top-header .contact-number .top-menu {
    padding: 10px 0;
  }
}

.top-header .contact-number {
  margin-right: 4px;
  font-size: 18px;
}

.top-header .top-menu > li > a {
  color: #333;
  font-weight: 300;
  font-size: 14px;
  padding: 0 8px;
}

.top-header .top-menu > li {
  background: transparent;
}

.product-item {
  margin-bottom: 30px;
}

.product-item .product-thumb {
  position: relative;
}

.product-item .product-thumb img {
  width: 100%;
  height: auto;
}

.product-item .product-thumb .bage {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 300;
  display: inline-block;
}

.product-item .product-thumb:before {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.product-item .product-thumb .preview-meta {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product-item .product-thumb .preview-meta li {
  display: inline-block;
}

.product-item .product-thumb .preview-meta li a,
.product-item .product-thumb .preview-meta li span {
  background: #fff;
  padding: 10px 16px;
  display: inline-block;
  font-size: 18px;
}

.product-item .product-thumb .preview-meta li a:hover,
.product-item .product-thumb .preview-meta li span:hover {
  background: #000;
  color: #fff;
}

.product-item:hover .product-thumb:before {
  opacity: 1;
}

.product-item:hover .preview-meta {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.product-item .product-content {
  text-align: center;
}

.product-item .product-content h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 6px;
}

.product-item .product-content h4 a {
  color: #000;
}

.footer {
  background: #f7f7f7;
  padding: 50px 0;
}

.footer .footer-menu {
  margin-top: 30px;
}

.footer .footer-menu li {
  display: inline-block;
  margin: 0 6px;
}

.footer .footer-menu li a {
  color: #333;
  font-size: 12px;
}

.social-media li {
  display: inline-block;
  margin: 0 6px;
}
